.bg-custom {
    background-image: url('/images/inatro.png');
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Preto com 40% de opacidade */
    z-index: 1;
}

.bg-secundary {
    background-image: url('/images/banner_secundario.png');
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Preto com 40% de opacidade */
    z-index: 1;
}

.bg-terciary {
    background-image: url('/images/company.png');
}
.bg-service
{
    background-image: url('/images/our_service.png');
}
.bg-career
{
    background-image: url('/images/career.png');

}
.bg-contact
{
    background-image: url('/images/contact.png');
}
.bg-schedule
{
    background-image: url('/images/schedule.png');
}

.geral-vantagens:hover .icon-home i
{
    background-color: #167ffc!important;
    color: white!important;
}
.icon-home i
{
    color: #167ffc!important;
}


.flex-col-hover:hover a.button-servico
{
    display: block;
    background-color: white;
    color: #167ffc;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}